.aboutTitle {
    text-align: center;
  }
  
  .image {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
  }
  
  .infoText {
    margin-top: 25px;
  }
  
 
  
  .skills {
    float: left;
    width: 50%;
    margin-top: 25px;
    clear: right;
  }
  
  
  
  .workTimeline th,
  .workTimeline td {
    padding: 5px;
  }
  
  .workTimeline th {
    font-weight: bold;
  }

  .skills h2 {
    font-size: 32px;
  }
  
  .skills h3 {
    font-size: 16px;
    margin-top: 10px;
  }
  
  .skills div {
    margin-bottom: 10px;
  }
  