#background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
  }
  
  .intro {
    text-align: center;
  }
  
  .animateText {
    color: black;
  }
  