header {
    background-color: black;
}

.routeDiv{
    background-color: darkgray;
    background-image: url(https://cutewallpaper.org/27x/7pmpj468c/101161951.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}